/* left-align logo */
.navbar-brand {
    align-items: start;
}

/* make logo smaller */
.navbar-brand img {
    max-width: 75%;
}

/* support sidebar that is smaller than the default cutoff */
.bd-sidebar-primary {
    flex-basis: 17%;
}

/* background colour for cells when hovered over by mouse */
html[data-theme="light"] {
    :root{
        --pst-color-table-row-hover-bg: #e0edff
    }
}
html[data-theme="dark"] {
    :root{
        --pst-color-table-row-hover-bg: #281747
    }
}

